<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203381930229-4mh3uslleb9sbmbqmjr3uq2u1420osdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203381930229-4mh3uslleb9sbmbqmjr3uq2u1420osdu</string>
	<key>API_KEY</key>
	<string>AIzaSyDl_G-a8QpewiNoBFMBW0sot9dSrIZ0lEo</string>
	<key>GCM_SENDER_ID</key>
	<string>203381930229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agora</string>
	<key>PROJECT_ID</key>
	<string>myhospital-55594</string>
	<key>STORAGE_BUCKET</key>
	<string>myhospital-55594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203381930229:ios:b15b71f8dec7f4cc4c6dbc</string>
</dict>
</plist>